html {
  box-sizing: border-box;
  line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.banner-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  z-index: 10000000;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  max-width: 45em;
  margin: 0;
}

.img-mecha {
  width: 100%;
  display: block;
  align-items: stretch;
  padding: 1rem;
}

.banner-content h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  margin: 0;
}

.banner-content p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
  color: #fff;
  padding: .4em .75em .3em;
  background-color: #333;
  border-radius: 8px;
  text-decoration: none;
  border: 3px solid #333;
}

.btn big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}
